html {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

body {
    font-family: 'Oswald', sans-serif;
}

h1 {
      text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    color: #fff;
}

h5 {
      text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    color: #fff;
}

.avatar {
    border-radius: 50%;
    margin-top: 2vh;
    text-align: center;
}

.center-content {
    text-align: center;
}

.sociallink {
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-top: 1vw;
    font-size: 2vw;
    text-align: center;
      text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.sociallink:hover {
    border: 1px solid #000;
    color: #fff;
    background: rgba(0,0,0,.60);
    text-decoration: none;
}

.copyright {
    font-size: 8px;
    margin-top: 10px;
}